[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "fastfetch"]
	path = fastfetch
	url = https://github.com/fastfetch-cli/fastfetch
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/plugins/start/vim-devicons"]
	path = .vim/pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
